body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  height: 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  
  height: 100vh;
  background:var(--White) ;
}

#root{
  height: 100%;
}

@media (min-width:1280px) {
  #root{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

:root{
  --Linear-gradient:hsl(249, 99%, 64%);
  --active-input-border: hsl(278, 94%, 30%);
  --Red: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --Font-size: 18px;
  --background-Mobile:url("./image/bg-main-mobile.png");
  --background-Desktop:url("./image/bg-main-desktop.png");
  --Card_front:url("./image/bg-card-front.png");
  --Card_back:url("./image/bg-card-back.png");
}