.div-form{
    padding: 75px 20px 0px 20px;
    display: flex;
    justify-content: center;
}
.input-class{
    padding: 10px;
    width: 95%;
    margin: 10px 0px 20px 0px;
    font-size: 18px;
    border: solid 1px hsla(278, 4%, 50%, 0.363);
    margin-bottom: 10px;
    border-radius: 8px;
}

.input-class::placeholder{
    color:hsla(270, 4%, 31%, 0.23) ;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Space Grotesk', sans-serif;

}
.form-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    color: var(--Very-dark-violet);
    font-size: 15px;
}

.div-data-inputs{
    display: flex;
}

.div-content-mm-yy{
    width: 85%;
}

.class-input-data{
    width:30%;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: solid 1px hsla(278, 4%, 50%, 0.363);

}

.class-input-data::placeholder{
    
    color:hsla(278, 4%, 50%, 0.378) ;
    font-weight: bold;
    font-size: 18px;
}

.label-form{
    letter-spacing: 3px;
    margin-top: 15px;
    font-size: 12px;
    display: block;
}

.class-input-data-cvc{
    width:90%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: solid 1px hsla(278, 4%, 50%, 0.363);
}

.class-input-data-cvc::placeholder{
    color:hsla(278, 4%, 50%, 0.378) ;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;

}

.class-input-data-cvc:active{
    border: solid 1px hsla(278, 4%, 50%, 0.363);
}

.button-form{
    width: 100%;
    color: var(--White);
    background: var(--Very-dark-violet);
    font-size: 18px;
    border-radius: 8px;
    padding: 15px;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 15px;
}

.span-error {
     color: var(--Red);
}
.input-error{
    border: solid 1px var(--Red);
}

.div-none-check{
    display: none;
}

.div-login-completed{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 75px;
    justify-content: center;
}

.div-child-content-completed{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.img-check{
    margin: 15px 0px;
}

.p-text-details{
    font-family: 'Space Grotesk', sans-serif;
    color: var(--Dark-grayish-violet);
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px;

}
.p-thanks-completed{
    font-family: 'Space Grotesk', sans-serif;
    margin: 20px 0px 5px 0px;
    font-size: 33px;
    font-weight: 500;
    color: var(--Very-dark-violet);
    letter-spacing: 3px;

}





.button-continue-completed{
    width: 95%;
    color: var(--Light-grayish-violet);
    background: var(--Very-dark-violet);
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    padding: 15px;
    margin: 30px 0px 0px 0px;
    letter-spacing: 1px;
    font-family: 'Space Grotesk', sans-serif;
}
.div-form-check{
    display: flow-root;
}


@media(min-width:1280px){
    .div-child-content-completed {
        width: 77%;
    }
    .div-login-completed {
        margin-top: 0px;
    }
    .p-text-details{
        font-family: 'Space Grotesk', sans-serif;
        color: var(--Dark-grayish-violet);
        font-size: 20px;
        margin: 10px 0px;
    
    }
    .p-thanks-completed{
        font-family: 'Space Grotesk', sans-serif;
        margin: 20px 0px 0px 0px;
        font-size: 35px;
        color: var(--Very-dark-violet);
        letter-spacing: 3px;
    
    }
}


.div-none-check-form{
    display: none;
}